extends layout

block content
  main.bg-gradient-blue-green
    div.container
      section.min-vh-100.row.text-white.align-items-lg-center
        article(class="col-12 col-lg-12 d-flex justify-content-evenly")
          img(src="img/Error 404.jpg" alt="Error 404" class="img-fluid ")
        article(class="col-12 col-lg-12")
          p.text-center.display-5
            b= message
        article(class="col-12 col-lg-12 d-flex justify-content-evenly")
          a(href='/' class='back-button fs-4 text-white  ') ↩️🏠 Volver al MET 